<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<location path="." inheritInChildApplications="false">
		<system.web>	
		  <compilation debug="true" targetFramework="4.0" />
		  <customErrors mode="Off" />
		  <webServices>
			<protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
			  <add name="Documentation"/>
			  <add name="HttpPostLocalhost"/>
			</protocols>
		  </webServices>
		</system.web>
	</location>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=mssql07.dandomain.dk;Initial Catalog=62632667;Persist Security Info=True;User ID=62632667;Password=xEZW1eVtp" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Adding the following custom HttpHeader will help prevent CORS from stopping the Request-->
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
	
  </system.webServer>


</configuration>

